
/* toasts */
.toast-container {
  display: flex;
  flex-direction:column;
  gap:"5px"
}

.toast-section{
  position: fixed;
  top:1rem;
  right:1rem;
}

.toast {
  width:12rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: green;
  color: white;
  margin-top: 0.5rem;
  animation:slide 1s ease-in-out;
  position: relative;
  span{
    cursor: pointer;
   position: absolute;
   right: 1rem;
  }
}
.success{
    background-color: #46af46;
  }

  .error{
    background-color: #df5239;
  }

  .info{
    background-color: #5899fe;
  }

  .warning{
    background-color: #fca200;
  }

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* otp */

.inputbox{
  height:1rem;
  width:1rem;
  margin:0.5rem;
  padding:0.5rem;
}

/* ===== Base ===== */

.stepper {
  width: 100%;
}

.steps-wrapper {
  display: flex;
}

.step-container {
  display: flex;
}

.step {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.index {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: white;
}

.index.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}

/* Connector line */
.line {
  position: absolute;
  background: #ccc;
}

/* ===== Content ===== */

.box-info {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
}

.btns {
  display: flex;
  gap: 10px;
}

/* ===============================
   HORIZONTAL STEPPER
================================ */

.stepper.horizontal .steps-wrapper {
  flex-direction: row;
  justify-content: space-between;
}

.stepper.horizontal .step {
  flex-direction: column;
}

/* Horizontal line → */
.stepper.horizontal .line {
  width: 3rem;
  height: 2px;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

/* ===============================
   VERTICAL STEPPER
================================ */

.stepper.vertical .steps-wrapper {
  flex-direction: column;
  gap: 2rem;
}

.stepper.vertical .step {
  flex-direction: row;
}

/* Vertical line ↓ */
.stepper.vertical .line {
  width: 2px;
  height: 2.5rem;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* Pagination */

.post-container {
  /* width: 550px; */
  height: 170px;
}

.pagination-img {
  height: 150px;
  width: 100px;
  border-radius: 10px;
  margin:auto 1rem;
}

.paginationcomp-cont{
  display:flex;
  gap:1rem;
  justify-content: center;
}

/* carousel */

.carousel-img{
  height: 450px;
  width: 100%;
  border-radius: 10px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-btn,
.right-btn {
  position: absolute;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  top: 50%;
  cursor: pointer;
}

.left-btn {
  left: 20%;
}
.right-btn {
  right: 20%;
}