#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* toasts */

.toast-container {
  display: "flex";
  flex-direction:"column";
  gap:"5px"
}

.toast-section{
  position: fixed;
  top:1rem;
  right:1rem;
}

.toast {
  width:12rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: green;
  color: white;
  margin-top: 0.5rem;
  animation:slide 1s ease-in-out;
  position: relative;
  span{
    cursor: pointer;
   position: absolute;
   right: 1rem;
  }
}
.success{
    background-color: #46af46;
  }

  .error{
    background-color: #df5239;
  }

  .info{
    background-color: #5899fe;
  }

  .warning{
    background-color: #fca200;
  }

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* otp */

.inputbox{
  height:1rem;
  width:1rem;
  margin:0.5rem;
  padding:0.5rem;
}

/* Stepper */
.step-container {
  margin-bottom: 2rem;
  display: flex;
  gap:5rem
}
.step {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.index {
  border-radius: 50%;
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: gray;
  color: white;
}

.active {
  background-color: #5899fe;
  color:black
}

.line {
  height:2rem;
  background-color: black;
  width:1px;
  position: absolute;
  top:2rem;
}

.btns {
  display: flex;
  gap: 1rem;
}

.box-info {
  border-radius: 1rem;
  padding:2rem;
  border:1px solid black;
  margin-bottom: 1rem;
}